*{
  margin : 0;
  padding:0;
}
body{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color : #efefef;
}
form{
  height: 500px;
  background-color: transparent;
  margin-top: 20px;
}
legend{
  text-align: center;
  font-size: 1.4em;
  padding: 0 20px;
}
fieldset{
  text-align: center;
  border-radius: 20px;
  box-shadow: inset 0px 0px 45px 5px rgba(18,18,18,0.19);
}
label{
  font-size: 1.2em;
}
input{
  border-radius: 5px;
  height: 25px;
  outline: none;
}

.reqField{
  color:red;
}
.sbmt{
  display:flex;
  justify-content:center;
  align-items: center;
  margin:20px 0;
}

#submit{
  width:150px;
  height: 50px;
  border-radius: 20px;
  font-size: 1.4em;

}
#submit:hover{
  background-color: rgba(18,18,18,0.19);
}
#errorPsw, #errorEmail, #errorConfirm{
  color: red;
  font-size: 1.4em;

}

/* style for succes.html   */

.h2-succes{
  font-size: 4em;
  box-shadow: inset 0px 0px 5px 5px rgba(18,18,18,0.19);
  padding:20px;
  border-radius: 20px;
  margin-top: 150px;
}
.h2-succes:hover{
  background-color: rgba(18,18,18,0.19);
}
